@import 'normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  hyphens: auto;
}


button {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
